doctype html
html
    head
        title You Can Find MORE Than What You Want!
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='/javascripts/global.js')
        block script