.container-fluid.nav_wrapper(style='height:60px; width:100%; background-color:#FF9900;')
  .row 
    .col-sm-3.logo    
      span.glyphicon.glyphicon-bullhorn(style='font-size:30px;')
  
    .col-sm-9  
      .container-fluid
        .row
          .col-sm-2
            .nav_child
              a(href='#') Movies
          .col-sm-2
            .nav_child
              a(href='#') Cinemas
          .col-sm-2
            .nav_child
              a(href='#') Coming Soon
          .col-sm-2
            .nav_child
              a(href='#') Search
          .col-sm-4
            .nav_child  
              a(href='#') Update your location
    